@model PartionnyAccount.Models.Login.Dir.DirCustomerLogin

@{
    Layout = "~/Views/_Shared/_LayoutLogin.cshtml";
}


<br /><br /><br /><br /><br /><br /><br /><br />
<div class="pen-title">
    <h1>Нет доступа к "Разработчик П.Ф."</h1>
    <h3>Зайдите в справочники -> сотрудники -> откройте на редактирование нужного сотрудника и дайте ему права!</h3><br /><br />
    <div class="cta"><a href="../">Вернуться в Сервис</a></div>
</div>

