<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Сервисный центр: сервисный, торговый и складской учет оналйн</title>
    <base href="/">
    <!--Загрузка данных-->
    <link href="~/Scripts/sklad/css/loader.css" rel="stylesheet" />
    <!--Изменения в дизайне фреймворка-->
    <link href="~/Scripts/sklad/css/change.css" rel="stylesheet" />


    <!-- 5 -->
    <!--
    <script type="text/javascript" src="~/Scripts/jsDesktop5/build/ext-all.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/jsDesktop5/build/packages/ext-theme-gray/build/resources/ext-theme-gray-all.css" />
    <script type="text/javascript" src="~/Scripts/jsDesktop5/build/packages/ext-theme-gray/build/ext-theme-gray.js"></script>
    -->
    <!-- 6 -->

    <script type="text/javascript">
        //Variable for Interface
        //1 - Windows, 2 - Tabs, 3 - Panels
        var InterfaceSystem = 1;
        var InterfaceSystemObjName = "Ext.Window";
        //Variable for Theme
        var DefaultButtonUI = "default-toolbar";
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="~/Scripts/sklad/jsDesktop6/build/ext-all.js"></script>

    <!-- Theme -->
    @if (ViewData["CookieT"].ToString() == "2")
    {
        <link rel="stylesheet" type="text/css" href="~/Scripts/sklad/jsDesktop6/build/classic/theme-neptune/resources/theme-neptune-all.css">
        <script type="text/javascript" src="~/Scripts/sklad/jsDesktop6/build/classic/theme-neptune/theme-neptune.js"></script>

        <script type="text/javascript"> DefaultButtonUI = "default"; </script>
    }
    else if (ViewData["CookieT"].ToString() == "3")
    {
        <link rel="stylesheet" type="text/css" href="~/Scripts/sklad/jsDesktop6/build/classic/theme-neptune-touch/resources/theme-neptune-touch-all.css">
        <script type="text/javascript" src="~/Scripts/sklad/jsDesktop6/build/classic/theme-neptune-touch/theme-neptune-touch.js"></script>

        <script type="text/javascript"> DefaultButtonUI = "default"; </script>
    }
    else if (ViewData["CookieT"].ToString() == "4")
    {
        <link rel="stylesheet" type="text/css" href="~/Scripts/sklad/jsDesktop6/build/classic/theme-triton/resources/theme-triton-all.css">
        <script type="text/javascript" src="~/Scripts/sklad/jsDesktop6/build/classic/theme-triton/theme-triton.js"></script>

        <script type="text/javascript"> DefaultButtonUI = "default"; </script>
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Scripts/sklad/jsDesktop6/build/classic/theme-gray/resources/theme-gray-all.css">
        <script type="text/javascript" src="~/Scripts/sklad/jsDesktop6/build/classic/theme-gray/theme-gray.js"></script>

        <script type="text/javascript"> DefaultButtonUI = "default-toolbar"; </script>
    }

    <!-- Interface -->
    <script type="text/javascript"> InterfaceSystem = 3; InterfaceSystemObjName = "Ext.panel.Panel"; </script>

    <!-- Language -->
    @if (ViewData["CookieL"].ToString() == "2")
    {
        <script src="~/Content/other/Language/LanguageUa.js"></script>
    }
    else if (ViewData["CookieL"].ToString() == "4")
    {
        <script src="~/Content/other/Language/LanguageUs.js"></script>
    }
    else
    {
        <script src="~/Content/other/Language/LanguageRu.js"></script>
    }


    <!-- Function -->
    <script src="~/Content/other/Function/Function.js"></script>


    @RenderBody()


</head>
<body>

    <div id="loading-mask"></div>
    <div id="loading">
        <div class="loading-indicator">
            "Учет в Торговле и Сервисном центре" загружается ...
        </div>
    </div>

</body>
</html>