@{
    Layout = "~/Views/_Shared/_LayoutTest.cshtml";
}


<!-- Текст -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <center><h1>Тест</h1></center>
            <p class="hyp">
                Вы находитесь на странице для Тестирование сервиса. Сдесь Вы можете:<br />
                1. Протестировать подкоючение и работу ККМ<br />
                2. ...
            </p>

        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->