@model PartionnyAccount.Models.Login.Dir.DirCustomerReg

@{
    Layout = "~/Views/_Shared/_LayoutLogin.cshtml";
}

<!-- Form Mixin-->
<!-- Pen Title-->
<div class="pen-title">
    <h1>Registration completed successfully!</h1>
    <span style="color: green; font-weight: bold; font-size: 18px">@(new HtmlString((string)ViewData["Msg"]))</span>
</div>
